* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

body {
  min-width: 200px; }

#page-content {
  padding-top: 80px;
  z-index: 10; }

/* NAVIGATION BAR/GLOBAL NEW HEADER CSS */
.main-navigation {
  height: 70px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  visibility: hidden; }

.navigation-button-group {
  padding-top: 6px;
  opacity: 1;
  transition: all 0.5 ease;
  -webkit-transition: all 0.5 ease;
  -moz-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  visibility: visible; }

.navigation-side-logo {
  height: 70px;
  width: auto;
  float: right;
  margin-right: 10px; }

.navbutton {
  margin-left: 5px; }

iframe {
  border: none;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* NAVIGATION BAR END */
/* CSS NEEDED FOR LANDING PAGE */
.header {
  background-image: url("../images/background-header-min.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  color: #FFFFFF;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#welcome-overlay {
  margin-top: 2vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto; }

.landing-ait-logo {
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
  height: 20%; }

.landing-logo-text {
  font-weight: 700;
  padding: 0.3em;
  font-size: 10vmin;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 1;
  visibility: visible; }

/* Classes designed for toggling */
.standardHeader {
  position: fixed;
  height: 80px;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.revealNavigation {
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  visibility: visible; }

/* END LANDING PAGE CSS */
/* MOBILE HEADER/NAVIGATION */
.condensed-menu-button {
  opacity: 0;
  transition: all 0.5 ease;
  -webkit-transition: all 0.5 ease;
  -moz-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  display: none;
  float: left;
  margin-left: 10px;
  margin-top: 6px; }

.navigation-buttons-condensed {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease, opacity 0.5s ease;
  -webkit-transition: all 0.5s ease, opacity 0.5s ease;
  -moz-transition: all 0.5s ease, opacity 0.5s ease;
  -o-transition: all 0.5s ease, opacity 0.5s ease;
  z-index: 9; }

.nav-group-condensed-active {
  position: fixed;
  opacity: 1;
  transition: all 0.5s ease, opacity 0.5s ease;
  -webkit-transition: all 0.5s ease, opacity 0.5s ease;
  -moz-transition: all 0.5s ease, opacity 0.5s ease;
  -o-transition: all 0.5s ease, opacity 0.5s ease;
  visibility: visible;
  z-index: 20;
  pointer-events: auto; }

.nav-group-condensed-menu {
  width: 60%;
  height: 100%;
  background-color: #FFFFFF;
  float: left;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  visibility: visible;
  z-index: 20; }

.nav-group-condensed-items {
  float: left;
  margin-left: 5%;
  margin-top: 10%;
  width: 90%; }

.nav-group-condensed-item-buttons {
  padding-top: 5%;
  width: 100%; }

.nav-group-condensed-item-button-links {
  width: 100%; }

.nav-group-condensed-shadow {
  width: 40%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  float: right;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  visibility: visible; }

/* END MOBILE NAVIGATION/HEADER CSS */
#page-footer {
  margin-top: 50px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.hideContent {
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  visibility: hidden;
  display: none; }

p {
  padding-bottom: 15px; }

/* WHEN VIEWPORT IS LESS <=685px THE NAVGROUP WILL DISSAPEAR AND THE CONDENSED MENU BUTTON WILL APPEAR */
@media (max-width: 685px) {
  .header {
    background-image: url("../images/background-header-mobile.png"); }
  .navigation-button-group {
    opacity: 0;
    transition: all 0.5 ease;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    display: none; }
  .condensed-menu-button {
    opacity: 1;
    transition: all 0.5 ease;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    display: inline;
    float: left;
    margin-left: 10px;
    height: 70px; }
  .menu-button-image {
    float: left;
    height: 70px;
    width: 55px; }
  .condensed-menu-button p {
    float: left;
    padding-top: 25px; } }
