footer.grey.darken-4.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Arian-IT
        p.grey-text.text-lighten-4
          | This website is owned and operated by Arian Jahiri. For any enquiries please contact ajahiri9@protonmail.com.
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href="index.html") Home
          li
            a.grey-text.text-lighten-3(href="contact.html") Contact
          li
            a.grey-text.text-lighten-3(href="about.html") About
          li
            a.grey-text.text-lighten-3(href="") *Blog
  .footer-copyright
    .container
      | Copyright © 2018 Arian Jahiri ("www.arian-it.com")
      a.grey-text.text-lighten-4.right(href="#!")
