// Mobile nav menu must be outside of scope of the navigation bar as it is fullscreen
ul#slide-out.sidenav
  li
    a(href="/index.html") HOME
  li
    a(href="/about.html") ABOUT
  li
    a(href="/contact.html") CONTACT
  li
    a(href="") *BLOG
  li
    .divider
  li
    a.subheader PROJECTS
  li
    a(href="/projects/annulus-share.html") Annulus Project
  li
    a(href="/projects/logo_promo.html") Logo Promo
  li
    a(href="https://github.com/HalfbeardStudios/Student-Voice/" target="blank") Student Voice
