img#navigation-side-logo.navigation-side-logo(alt="arian-it logo" src="/images/logo-128.png")
button#menu-button.condensed-menu-button.btn-floating.btn-large.waves-effect.waves-light.grey.darken-3.sidenav-trigger(data-target="slide-out")
  i.material-icons menu
#navigation-button-group.navigation-button-group
  a.navbutton.waves-effect.waves-light.grey.darken-3.btn(href="/contact.html") CONTACT
  a.navbutton.waves-effect.waves-light.grey.darken-3.btn(href="/about.html") ABOUT
  a.navbutton.btn-floating.btn-large.waves-effect.waves-light.grey.darken-3(href="/index.html")
    i.material-icons home
  a.navbutton.dropdown-trigger.waves-effect.waves-light.grey.darken-3.btn(data-target="projects-dropdown") PROJECTS
  a.navbutton.waves-effect.waves-light.grey.darken-3.btn(href="https://github.com/ajahiri" target="_blank") GITHUB

// Dropdown Structure
ul#projects-dropdown.dropdown-content
  li
    a.grey-text.text-darken-3(href="https://github.com/ajahiri/Software-Engineering-1A-B" target="_blank" rel="noopener noreferrer") ShopLyft
  li.divider
  li
    a.grey-text.text-darken-3(href="/projects/annulus-share.html") Annulus Project
  li.divider
  li
    a.grey-text.text-darken-3(href="/projects/logo_promo.html") Animation
